<html>
    ID: {{item.id}}</br>
    Since: {{item.since}}</br>
    Next pay: {{item.next}}</br>
    Total clicks: {{item.totalclicks}}</br>
    Last click: {{item.lastclick}}</br>
    <hr>
    <div style="float: left;margin-right:10px;" ng-repeat="d in daterange track by $index">
        <span ng-if="item.clicks[d]">{{item.clicks[d]}}</span>
        <span ng-if="!item.clicks[d]">0</span>
    </div>
</html>