<html ng-app="app">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <head>
        <title>Angular Spike</title>
    </head>
    <body ng-controller="appCtrl" style="background-color: gray">
       {{msg}}
       <ul ng-repeat="r in data">
            <li>
                <a href="#" ng-click="showDetails(r)">{{r.id}}</a>
            </li>
       </ul>
       <div ng-if="current" dir-data-renderer item="current"></div>
    </body>
    <script src="date.js"></script>
    <script src="time.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.services.js"></script> 
    <script src="app.directives.js"></script> 
    <script src="app.js"></script> 
</html>